<% for (var i=0; i<locals.fields.length; i++) { %>
    <div class="border-bottom dark-hover pl-2 toField"><%=fields[i]%></div>
<% } %>
<script>
    $(".toField").click(function(event) {
        console.log("tofield");
        window.location.href="/byField?field="+encodeURI(event.target.innerHTML);
    });
</script>