<!DOCTYPE html>

<head>
    <title>Agenda MPSIA</title>
    <link rel="stylesheet", type="text/css" href="css/main.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="bg-3">
    <div class="mx-auto mt-5 w-75 p-0 container">
        <div class="rounded-top border-bottom m-0 row p-1 text-center middle text-center bg-2">
            <div class="mx-auto my-2 main_title">Agenda</div>
        </div>
        <div class="row m-0">
            <div class="col-3 pl-0 pt-2 pb-2 pr-0 pl-0">
                <div class="">
                    <div class="bg-2 m-0 p-2">
                        <h6 class="m-0"><b>Matières</b></h6>
                    </div>
                    <% for (var i=0; i<locals.fields.length; i++) { %>
                        <div class="border-bottom dark-hover pl-2"><%=fields[i]%></div>
                    <% } %>
                </div>
                <div class="mt-2 border bg-2 p-2 dark-hover" id="toNew">
                    <h6 class="m-0"><b>Ajouter une tâche</b></h6>
                </div>
            </div>
            <div class="pl-4 pt-2 pr-0 pb-2 col-9">
                <div class="container">
                    <% Object.keys(tasks).forEach(function(date) {
                        var posix = new Date(date*24*3600*1000);
                        var jour = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"][posix.getDay()];
                        jour += " " + (posix.getDay()+1);
                        if (posix.getDay() == 0) {
                            jour += "er"
                        }
                        var mois = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Dimanche"][posix.getMonth()]; %>
                        <div class="pb-2">
                            <div class="border-bottom p-2 bg-2 row">
                                    <h6 class="m-0"><b><%= jour + " " + mois%></b></h6>
                            </div>
                            <% for (var i = 0; i < tasks[date].length; i++) {
                                var task = tasks[date][i];
                                if (i!=0) { %>
                                    <hr class="mx-3 my-1">
                                <% } %>
                                <div class="row p-1">
                                    <div class="col-2 text-right">
                                        <p><b><%= task.field %></b></p>
                                    </div>
                                    <div class="col-10 text-left">
                                        <p><%= task.text %></p>
                                    </div>
                                </div>
                            <%  } %>
                        </div>
                    <% })  %>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $("#toNew").click(function() {
        window.location.href="/new";
    });
</script>        