<!DOCTYPE html>

<head>
    <title>Agenda MPSIA</title>
    <link rel="stylesheet", type="text/css" href="css/main.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="bg-3">
    <div class="mx-auto mt-5 w-75 p-0 container">
        <div class="rounded-top border-bottom m-0 row p-1 text-center middle text-center bg-2 toHome">
            <div class="mx-auto my-2 main_title">Agenda</div>
        </div>
        <div class="row m-0">
            <%- include("partials/leftBar") %>
            <div class="pl-4 pt-2 pr-0 pb-2 col-9">
                <%- include("partials/taskList") %>
            </div>
        </div>
    </div>
</body>

<script>
    $("#toNew").click(function() {
        window.location.href="/new";
    });

    $(".toHome").click(function() {
        window.location.href="/";
    });

    $(".toField").click(function(event) {
        console.log("tofield");
        window.location.href="/byField?field="+encodeURI(event.target.innerHTML);
    });
</script>        