<!DOCTYPE html>

<head>
    <title>Home page</title>
    <link rel="stylesheet", type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="mx-auto mt-5 w-75 p-0">
        <div class="w-100 rounded-top border-bottom m-0 row bg-2">
            <div class="mx-auto my-2 main_title">Ajouter une tâche</div>
        </div>
        <div class="w-100 m-0 border-left border-bottom border-right rounded-bottom p-3 container">
            <div class="bg-light row w-100 m-0">
                <div class="col-6">
                    <span>Matière  : </span>
                    <span>
                        <select class="ml-3² rounded border w-50 px-1 py-0">
                            <option>Maths</option>
                            <option>Physique</option>
                        </select>
                    </span>
                </div>
                <div class="col-2 text-right">Date (J/M/A) :</div>
                <div class="col-4">
                    <input type="text" class="rounded border w-100 px-1 py-0">
                </div>
            </div>
            <div><hr></div>
        </div>
    </div>
</body>